@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.root{
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/ColorPickerBG.jpg");
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   
.root h1, .root p{
    margin-top: 0;
    font-family: "Pixelify Sans";
}
.root h1{
    font-size: 450%;
}
.root p{
    margin-top: 10px;
    font-size: 120%;
    margin-bottom: 10px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);

}
.colorbox{
    width: 220px;
    height: 220px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Pixelify Sans";
}
.input{
    width: 40px;
    height: 40px;
}
.elementsWrapper{
    display: flex;
    gap:10px;
}
.copyBtn {
  border-radius: 10px;
  border:0;
  width: 40px;
  background-color: hsla(0, 0%, 42%, 0.486);
  color:white;
}
.copyBtn:hover{
    cursor:pointer;
}



