
.container{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.title{
    text-align: center;
}
.paragraph{
    text-align: center;
}
.link{
    text-decoration: none;
}
.link:visited{
    text-decoration: none;
    color:white;
}
.link_container{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

