.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    border-radius: 10px;
    max-width: 250px;
}
.h2{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}