.card{
    height: 100px;
    width: 100px;
    background-color: beige;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 80%;
}

