@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

body {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
h1{
    font-family: Boldonse;
    color: white;
    margin-top: 10vh;
    margin-bottom: 0px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 110%;
}
.container{
    display: flex;
    gap: 10px;
    margin-bottom: 10vh;
}