@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
body {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}