.buttonContainer{
    display: flex;
    gap:10px;
    border: none;
}
.button{
    border: none;
    padding: 3px 10px;
    background-color: white;
}
.taskContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
