.root{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loginTitle{
    margin-top: 0;
}
.loginContainer{
    background-color: rgba(0, 255, 255, 0.443);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding:3rem;
}
.loginForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.loginFormUsername, .loginFormPassword{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.inputUsername, .inputPassword{
    border: none;
    min-height: 1.3rem;
    min-width: 15rem;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
.loginBtn{
    border: none;
    min-width: 7rem;
    min-height: 1.3rem;
}
.noAccount{
    margin-top: 1.2rem;
}
.createAccount{
    text-decoration: underline;
    color: white;
}
.createAccount:hover{
    color: rgb(0, 94, 255);
}
.formFix{
    font-size: 80%;
    margin: 0;
    color: rgb(255, 0, 0);
}