.link {
    text-decoration: none;
    color: inherit;
    outline: none;
}
.card{
    max-height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    max-width: 250px;
    background-color: rgba(255, 255, 255, 0.2); /* translucent layer */
    backdrop-filter: blur(10px);                /* blur the background */
    -webkit-backdrop-filter: blur(10px);        /* Safari support */
    padding: 20px;
    border-radius: 12px;
    text-decoration: none;
}
.h2{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin-bottom: 8px;;
}
.image{
    width:200px;
    height:auto;
    border-radius: 10px;
    margin-top: 25px;
}
.p{
    margin-top: 0px;
}